body {
  margin: 0;
  font-family: cursive;
  background-image: linear-gradient(to top right, #faffff, #292878);
  overflow: hidden;
  height: auto;
}

.app {
  margin: 0 auto;
  background-image: linear-gradient(to bottom right, #292878, #faffff);
  height: 800px;
  padding: 25px;
}
